body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vw; /* Ensure consistent gap between buttons */
    width: 60vw;
    height: 60vw;
    max-height: 80vh;
    justify-content: center;
    align-items: center;
}
.button-slot {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #1A1A1A;
    border: 4px solid #454545;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    transition: border-color 0.3s;
}
.button-slot:hover {
    border-color: #FFFFFF;
}
.button-slot.selected {
    border-color: #FFFFFF;
}
